@using cfm_frontend.Extensions

<li class="pc-item pc-caption">
    <label>Core Module</label>
</li>

@if (Context.Session.HasModuleAccess("Helpdesk"))
{
    <li class="pc-item pc-hasmenu">
        <a href="#!" class="pc-link">
            <span class="pc-micon">
                <i class="ph-duotone ph-gauge"></i>
            </span>
            <span class="pc-mtext">Helpdesk</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
        </a>
        <ul class="pc-submenu">
            @if (Context.Session.CanView("Helpdesk", "Send Work Request"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/sendnewworkrequest">Send Work Request</a></li>
            }
            @if (Context.Session.CanView("Helpdesk", "Work Request Management"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/index">Work Request Management</a></li>
            }
            @if (Context.Session.CanView("Helpdesk", "Inventory Management"))
            {
                <li class="pc-item"><a class="pc-link" href="/inventory/index">Inventory Management</a></li>
            }
            @if (Context.Session.CanView("Helpdesk", "Job Code Management"))
            {
                <li class="pc-item"><a class="pc-link" href="/jobcode/index">Job Code Management</a></li>
            }
            @if (Context.Session.CanView("Helpdesk", "Settings"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/settings">Settings</a></li>
            }
        </ul>
    </li>
}
@if (Context.Session.HasModuleAccess("Contact Library"))
{
    <li class="pc-item pc-hasmenu">
        <a href="#!" class="pc-link">
            <span class="pc-micon">
                <i class="ph-duotone ph-gauge"></i>
            </span>
            <span class="pc-mtext">Contact Library</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
        </a>
        <ul class="pc-submenu">
            @if (Context.Session.CanView("Contact Library", "Company Contact List"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/sendnewworkrequest">Company Contact List</a></li>
            }
            @if (Context.Session.CanView("Contact Library", "Service Provider Contact List"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/index">Service Provider Contact List</a></li>
            }
            @if (Context.Session.CanView("Contact Library", "Cross-Company Contact List"))
            {
                <li class="pc-item"><a class="pc-link" href="/inventory/index">Cross-Company Contact List</a></li>
            }
            @if (Context.Session.CanView("Contact Library", "Exodus"))
            {
                <li class="pc-item"><a class="pc-link" href="/jobcode/index">Exodus</a></li>
            }
            @if (Context.Session.CanView("Contact Library", "Settings"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/settings">Settings</a></li>
            }
        </ul>
    </li>
}
@if (Context.Session.HasModuleAccess("Property Portfolio"))
{
    <li class="pc-item pc-hasmenu">
        <a href="#!" class="pc-link">
            <span class="pc-micon">
                <i class="ph-duotone ph-gauge"></i>
            </span>
            <span class="pc-mtext">Property Portfolio</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
        </a>
        <ul class="pc-submenu">
            @if (Context.Session.CanView("Property Portfolio", "Property List"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/sendnewworkrequest">Property List</a></li>
            }
            @if (Context.Session.CanView("Property Portfolio", "Exodus"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/index">Exodus</a></li>
            }
            @if (Context.Session.CanView("Property Portfolio", "Exodus Room Zone"))
            {
                <li class="pc-item"><a class="pc-link" href="/jobcode/index">Exodus Room Zone</a></li>
            }
            @if (Context.Session.CanView("Property Portfolio", "Report"))
            {
                <li class="pc-item"><a class="pc-link" href="/jobcode/index">Report</a></li>
            }
            @if (Context.Session.CanView("Property Portfolio", "Settings"))
            {
                <li class="pc-item"><a class="pc-link" href="/helpdesk/settings">Settings</a></li>
            }
        </ul>
    </li>
}

