﻿@{
ViewBag.Title = "Work Request Management";
ViewBag.pTitle = "Helpdesk";
ViewBag.cTitle = "Edit Work Request";
Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/assets/css/plugins/datepicker-bs5.min.css">
    <link rel="stylesheet" href="~/assets/css/components/searchable-dropdown.css">
}

<div class="row">
    <form>

        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="fw-semibold">Requestor Detail</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label class="form-label fw-semibold" for="inputEmail4">Requestor Name</label>
                            <input type="text" class="form-control form-control-sm" id="inputEmail4"
                                   placeholder="Requestor name">
                        </div>
                    </div>


                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label fw-semibold">Location</label>
                            <select class="form-select form-select-sm"
                                    id="select-location"
                                    data-searchable="true"
                                    data-placeholder="Select Location"
                                    data-search-placeholder="Search location...">
                                <option value="">Select Location</option>
                                <option class="text-sm">Reactive</option>
                                <option class="text-sm">Solution</option>
                                <option class="text-sm">Conglomeration</option>
                                <option class="text-sm">Algoritm</option>
                                <option class="text-sm">Holistic</option>
                            </select>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-label fw-semibold">Floor</label>
                            <select class="form-select form-select-sm"
                                    id="select-floor"
                                    data-searchable="true"
                                    data-placeholder="Select Floor"
                                    data-search-placeholder="Search floor...">
                                <option value="">Select Floor</option>
                                <option class="text-sm">Reactive</option>
                                <option class="text-sm">Solution</option>
                                <option class="text-sm">Conglomeration</option>
                                <option class="text-sm">Algoritm</option>
                                <option class="text-sm">Holistic</option>
                            </select>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-label fw-semibold">Room/Area/Zone</label>
                            <select class="form-select form-select-sm"
                                    id="select-room"
                                    data-searchable="true"
                                    data-placeholder="Select Room/Area/Zone"
                                    data-search-placeholder="Search room...">
                                <option value="">Select Room/Area/Zone</option>
                                <option class="text-sm">Reactive</option>
                                <option class="text-sm">Solution</option>
                                <option class="text-sm">Conglomeration</option>
                                <option class="text-sm">Algoritm</option>
                                <option class="text-sm">Holistic</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label class="form-label fw-semibold" for="inputEmail4">Requestor method</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                       value="option1" checked>
                                <label class="form-check-label" for="gridRadios1"> First radio </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                       value="option2">
                                <label class="form-check-label" for="gridRadios2"> Second radio </label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="fw-semibold">Work Request Detail</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label fw-semibold">Status</label>
                            <select class="form-select form-select-sm"
                                    data-searchable="true"
                                    data-placeholder="Select Status"
                                    data-search-placeholder="Search status...">
                                <option value="">Select Status</option>
                                <option class="text-sm">New</option>
                                <option class="text-sm">In Progress</option>
                                <option class="text-sm">Cancelled</option>
                                <option class="text-sm">Completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label  fw-semibold" for="inputEmail4">Work Title</label>
                            <input type="text" class="form-control form-control-sm" id="inputEmail4"
                                   placeholder="Work title">
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="basedOnPM" />
                                <label class="form-check-label" for="basedOnPM">
                                    This WR is based on PM Finding. (nanti input bawahnya hide/show)
                                </label>
                            </div>
                            <input type="text" class="form-control form-control-sm hide" id="inputEmail4"
                                   placeholder="Search by PM Code or Work Title to find the PM">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="requestDetail" class="form-label fw-semibold">
                                Request
                                Detail
                            </label>
                            <textarea class="form-control form-control-sm" id="requestDetail"
                                      placeholder="Explain the user's request, issue, or question in detail"></textarea>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="requestDetail" class="form-label fw-semibold">Solution</label>
                            <textarea class="form-control form-control-sm" id="requestDetail"
                                      placeholder="Detail the steps or solutions provided to resolve the request"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label fw-semibold" for="inputEmail4">Important Checklist</label>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                                <label class="form-check-label text-sm" for="checkbox1">
                                    Check 1
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                                <label class="form-check-label text-sm" for="checkbox2">
                                    Check 2
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                        </div>
                        <div class="mb-3 col-md-4">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="fw-semibold">Person in Charge and Worker</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label class="form-label fw-semibold">Person in Charge</label>
                            <select class="form-select form-select-sm"
                                    data-searchable="true"
                                    data-placeholder="Select Person in Charge"
                                    data-search-placeholder="Search person...">
                                <option value="">Select Person in Charge</option>
                                <option class="text-sm">Sabarudin</option>
                                <option class="text-sm">Sarifudin</option>
                                <option class="text-sm">Safiudin</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label class="form-label fw-semibold">Service Provider</label>
                            <select class="form-select form-select-sm"
                                    data-searchable="true"
                                    data-placeholder="Select Service Provider"
                                    data-search-placeholder="Search provider...">
                                <option value="">Select Service Provider</option>
                                <option class="text-sm">Provider 1</option>
                                <option class="text-sm">Provider 2</option>
                                <option class="text-sm">Provider 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label class="form-label fw-semibold">Worker from Company</label>
                            <select class="form-select form-select-sm"
                                    data-searchable="true"
                                    data-placeholder="Select Worker"
                                    data-search-placeholder="Search worker...">
                                <option value="">Select Worker</option>
                                <option class="text-sm">Worker 1</option>
                                <option class="text-sm">Worker 2</option>
                                <option class="text-sm">Worker 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Timeline and Dates -->
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-1">Timeline and Dates</h5>
                    <p class="text-muted mb-0 small">Schedule and target dates for this work request</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Priority Level -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold required-field">Priority Level</label>
                            <select class="form-select form-select-sm"
                                    id="priorityLevelSelect"
                                    name="PriorityLevel"
                                    data-searchable="true"
                                    data-placeholder="Select Priority Level"
                                    data-search-placeholder="Search priority..."
                                    required>
                                <option value="">Select Priority Level</option>
                                <!-- Options loaded dynamically via JavaScript -->
                            </select>
                        </div>

                        <!-- Request Date -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold required-field">Request Date</label>
                            <div class="datetime-group">
                                <input type="date"
                                       class="form-control form-control-sm"
                                       id="requestDate"
                                       name="RequestDate"
                                       required>
                                <input type="time"
                                       class="form-control form-control-sm"
                                       id="requestTime"
                                       name="RequestTime"
                                       required>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <!-- Placeholder for alignment -->
                        </div>

                        <!-- Helpdesk Response -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Helpdesk Response</label>
                            <div class="datetime-group">
                                <input type="date" class="form-control form-control-sm" id="helpdeskResponseDate" name="HelpdeskResponseDate">
                                <input type="time" class="form-control form-control-sm" id="helpdeskResponseTime" name="HelpdeskResponseTime">
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">New Target</label>
                            <div id="helpdeskTarget" class="target-time-display" data-target-type="helpdesk">
                                <i class="ti ti-target me-1"></i>
                                <span class="target-date">-</span>
                            </div>
                            <div class="target-change-form" id="helpdeskTargetForm">
                                <input type="datetime-local" class="form-control form-control-sm mb-2" id="helpdeskNewTarget">
                                <input type="text" class="form-control form-control-sm mb-2" placeholder="Remark" id="helpdeskRemark">
                                <button type="button" class="btn btn-sm btn-primary me-2" onclick="saveTarget('helpdesk')">Save</button>
                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelTarget('helpdesk')">Cancel</button>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Remark</label>
                            <input type="text" class="form-control form-control-sm" id="helpdeskRemarkDisplay" readonly>
                        </div>

                        <!-- Initial Follow Up -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Initial Follow Up</label>
                            <div class="datetime-group">
                                <input type="date" class="form-control form-control-sm" id="initialFollowUpDate" name="InitialFollowUpDate">
                                <input type="time" class="form-control form-control-sm" id="initialFollowUpTime" name="InitialFollowUpTime">
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Target</label>
                            <div id="initialFollowUpTarget" class="target-time-display" data-target-type="initialFollowUp">
                                <i class="ti ti-target me-1"></i>
                                <span class="target-date">-</span>
                            </div>
                            <div class="target-change-form" id="initialFollowUpTargetForm">
                                <input type="datetime-local" class="form-control form-control-sm mb-2" id="initialFollowUpNewTarget">
                                <input type="text" class="form-control form-control-sm mb-2" placeholder="Remark" id="initialFollowUpRemark">
                                <button type="button" class="btn btn-sm btn-primary me-2" onclick="saveTarget('initialFollowUp')">Save</button>
                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelTarget('initialFollowUp')">Cancel</button>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <!-- Placeholder -->
                        </div>

                        <!-- Quotation Submission -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Quotation Submission</label>
                            <div class="datetime-group">
                                <input type="date" class="form-control form-control-sm" id="quotationSubmissionDate" name="QuotationSubmissionDate">
                                <input type="time" class="form-control form-control-sm" id="quotationSubmissionTime" name="QuotationSubmissionTime">
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Target</label>
                            <div id="quotationTarget" class="target-time-display" data-target-type="quotation">
                                <i class="ti ti-target me-1"></i>
                                <span class="target-date">-</span>
                            </div>
                            <div class="target-change-form" id="quotationTargetForm">
                                <input type="datetime-local" class="form-control form-control-sm mb-2" id="quotationNewTarget">
                                <input type="text" class="form-control form-control-sm mb-2" placeholder="Remark" id="quotationRemark">
                                <button type="button" class="btn btn-sm btn-primary me-2" onclick="saveTarget('quotation')">Save</button>
                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelTarget('quotation')">Cancel</button>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <!-- Placeholder -->
                        </div>

                        <!-- Cost Approval -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Cost Approval</label>
                            <div class="datetime-group">
                                <input type="date" class="form-control form-control-sm" id="costApprovalDate" name="CostApprovalDate">
                                <input type="time" class="form-control form-control-sm" id="costApprovalTime" name="CostApprovalTime">
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Target</label>
                            <div id="costApprovalTarget" class="target-time-display" data-target-type="costApproval">
                                <i class="ti ti-target me-1"></i>
                                <span class="target-date">-</span>
                            </div>
                            <div class="target-change-form" id="costApprovalTargetForm">
                                <input type="datetime-local" class="form-control form-control-sm mb-2" id="costApprovalNewTarget">
                                <input type="text" class="form-control form-control-sm mb-2" placeholder="Remark" id="costApprovalRemark">
                                <button type="button" class="btn btn-sm btn-primary me-2" onclick="saveTarget('costApproval')">Save</button>
                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelTarget('costApproval')">Cancel</button>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <!-- Placeholder -->
                        </div>

                        <!-- Work Completion -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Work Completion</label>
                            <div class="datetime-group">
                                <input type="date" class="form-control form-control-sm" id="workCompletionDate" name="WorkCompletionDate">
                                <input type="time" class="form-control form-control-sm" id="workCompletionTime" name="WorkCompletionTime">
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Target</label>
                            <div id="workCompletionTarget" class="target-time-display" data-target-type="workCompletion">
                                <i class="ti ti-target me-1"></i>
                                <span class="target-date">-</span>
                            </div>
                            <div class="target-change-form" id="workCompletionTargetForm">
                                <input type="datetime-local" class="form-control form-control-sm mb-2" id="workCompletionNewTarget">
                                <input type="text" class="form-control form-control-sm mb-2" placeholder="Remark" id="workCompletionRemark">
                                <button type="button" class="btn btn-sm btn-primary me-2" onclick="saveTarget('workCompletion')">Save</button>
                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelTarget('workCompletion')">Cancel</button>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <!-- Placeholder -->
                        </div>

                        <!-- After Work Follow Up -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">After Work Follow Up</label>
                            <div class="datetime-group">
                                <input type="date" class="form-control form-control-sm" id="afterWorkFollowUpDate" name="AfterWorkFollowUpDate">
                                <input type="time" class="form-control form-control-sm" id="afterWorkFollowUpTime" name="AfterWorkFollowUpTime">
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-semibold">Target</label>
                            <div id="afterWorkTarget" class="target-time-display" data-target-type="afterWork">
                                <i class="ti ti-target me-1"></i>
                                <span class="target-date">-</span>
                            </div>
                            <div class="target-change-form" id="afterWorkTargetForm">
                                <input type="datetime-local" class="form-control form-control-sm mb-2" id="afterWorkNewTarget">
                                <input type="text" class="form-control form-control-sm mb-2" placeholder="Remark" id="afterWorkRemark">
                                <button type="button" class="btn btn-sm btn-primary me-2" onclick="saveTarget('afterWork')">Save</button>
                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelTarget('afterWork')">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hidden fields for target change notes -->
            <input type="hidden" id="helpdeskResponseTargetChangeNote" name="HelpdeskResponseTargetChangeNote">
            <input type="hidden" id="onsiteResponseTargetChangeNote" name="OnsiteResponseTargetChangeNote">
            <input type="hidden" id="quotationSubmissionTargetChangeNote" name="QuotationSubmissionTargetChangeNote">
            <input type="hidden" id="costApprovalTargetChangeNote" name="CostApprovalTargetChangeNote">
            <input type="hidden" id="workCompletionTargetChangeNote" name="WorkCompletionTargetChangeNote">
            <input type="hidden" id="followUpTargetChangeNote" name="FollowUpTargetChangeNote">
        </div>
        <!-- [ sample-page ] end -->
    </form>

</div>

@section scripts {
    <script src="~/assets/js/plugins/datepicker-full.min.js"></script>
    <script src="~/assets/js/pages/ac-datepicker.js"></script>
    <script src="~/assets/js/components/searchable-dropdown.js"></script>
    <script src="~/assets/js/utilities/business-date-calculator.js"></script>
    <script src="~/assets/js/mvc-endpoints.js"></script>
    <script src="~/assets/js/pages/workrequest/work-request-edit.js"></script>
}