@model cfm_frontend.ViewModels.SignInViewModel
@{
    ViewData["Title"] = "Sign In";
    Layout = null; // Standalone layout for Login
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] | CFM System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="~/assets/fonts/inter/inter.css" id="main-font-link" />
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css" />
    <link rel="stylesheet" href="~/assets/fonts/feather.css" />
    <link rel="stylesheet" href="~/assets/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/fonts/material.css" />

    <link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="~/assets/css/style-preset.css" />
</head>

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <div class="auth-main">
        <div class="auth-wrapper v3">
            <div class="auth-form">
                <div class="card my-5">
                    <div class="card-body">

                        <div class="text-center mb-4">
                            <a href="#">
                                <img src="~/assets/images/cfm-system-logo.png" alt="img" class="img-fluid brand-logo">
                            </a>
                        </div>

                        <div class="d-flex justify-content-between align-items-end mb-4">
                            <h3 class="mb-0"><b>Sign In</b></h3>
                        </div>

                        <form asp-controller="Login" asp-action="SignIn" method="post">
                            @Html.AntiForgeryToken()

                            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                            <div class="form-group mb-3">
                                <label asp-for="Username" class="form-label"></label>
                                <input asp-for="Username" class="form-control" placeholder="Enter your username" />
                                <span asp-validation-for="Username" class="text-danger small"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                                <span asp-validation-for="Password" class="text-danger small"></span>
                            </div>

                            <div class="d-flex mt-1 justify-content-between align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="">
                                    <label class="form-check-label text-muted" for="customCheckc1">Remember me?</label>
                                </div>
                                <a href="#" class="text-secondary f-w-400 mb-0">Forgot Password?</a>
                            </div>

                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </div>
                        </form>

                        @* <div class="d-flex justify-content-center align-items-end mt-4">
                            <h6 class="f-w-500 mb-0">Don't have an Account?</h6>
                            <a href="#" class="link-primary ms-2">Create Account</a>
                        </div> *@

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/fonts/custom-font.js"></script>
    <script src="~/assets/js/pcoded.js"></script>
    <script src="~/assets/js/plugins/feather.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>