@model cfm_frontend.ViewModels.SignInViewModel
@{
    ViewData["Title"] = "Sign In";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] | CFM System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="~/assets/fonts/inter/inter.css" id="main-font-link" />
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css" />
    <link rel="stylesheet" href="~/assets/fonts/feather.css" />
    <link rel="stylesheet" href="~/assets/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/fonts/material.css" />

    <link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="~/assets/css/style-preset.css" />
</head>

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="dark">
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <div class="auth-main v2">
        <div class="bg-overlay bg-dark"></div>
        <div class="auth-wrapper">
            <div class="auth-sidecontent">
                <div class="auth-sidefooter">
                    <img src="~/assets/images/cfm-system-logo.png" class="w-25 mb-4 img-fluid" alt="CFM System Logo" />
                    <hr class="mb-3 mt-4" />
                    <div class="row">
                        <div class="col my-1">
                            <p class="m-0">
                                Copyright &copy; 2024 <a href="https://colliers.id" target="_blank"> PT. Colliers International Indonesia</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="auth-form">
                <div class="card my-5 mx-3 bg-dark">
                    <div class="m-3">
                        <a href="javascript:history.back()" type="button"
                            class="d-inline-flex btn btn-outline-secondary justify-content-center align-items-center gap-2">
                            <i class="fa fa-chevron-left fa-xs"></i>
                            Back
                        </a>
                    </div>

                    <div class="card-body">
                        <img src="~/assets/images/cfm-system-logo.png" class="w-25 mb-4 img-fluid" alt="CFM System Logo" />
                        <h4 class="f-w-500 mb-1 text-white">Hi, welcome to CFM System</h4>
                        <p class="mb-3 text-muted">
                            Don't have an Account? <a href="#" class="link-primary ms-1">
                                Create Account
                            </a>
                        </p>

                        <form asp-controller="Login" asp-action="SignIn" method="post">
                            @Html.AntiForgeryToken()

                            <div asp-validation-summary="ModelOnly" class="alert alert-danger d-flex align-items-center" role="alert">
                                <i class="ti ti-alert-circle me-2"></i>
                            </div>

                            <div class="form-group mb-3">
                                <input asp-for="Username" class="form-control bg-transparent text-white" placeholder="Username" />
                                <span asp-validation-for="Username" class="text-danger small"></span>
                            </div>

                            <div class="form-group mb-3">
                                <input asp-for="Password" type="password" class="form-control bg-transparent text-white" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger small"></span>
                            </div>

                            <div class="d-flex mt-1 justify-content-between align-items-center">
                                <div class="form-check">
                                    <input asp-for="RememberMe" class="form-check-input input-primary" type="checkbox" id="rememberMe">
                                    <label class="form-check-label text-muted" for="rememberMe">Remember me?</label>
                                </div>
                                <a href="#" class="text-muted">Forgot Password?</a>
                            </div>

                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/fonts/custom-font.js"></script>
    <script src="~/assets/js/pcoded.js"></script>
    <script src="~/assets/js/plugins/feather.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>