.loading{
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.l-spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% { 
        transform: rotate(360deg); 
    }
}

.eform * {
    padding: 0;
    margin: 0;
}

.eform *::after, .eform *::before {
    box-sizing: border-box;
}

.eform{
    padding: 1rem;
}

.eform-item, .eform-item-first-header{
    padding: 1.5rem;
    background-color: #fff;
    border : thin solid rgb(var(--bs-secondary));
    border-radius: 13px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.eform span{
    display: block; 
    white-space: pre-line;
}

.eform .text-justify{
    text-align: justify !important;
}

.eform-item-img{
    max-width: 100%;
    height: auto;
}

.eform-item textarea {
    padding: 7px;
    resize : none;
    overflow-y: auto;
    min-height: 21.545px;
    max-height: 125px;
}

.eform-item .i-date{
    width: 150px;
}

.eform-item .i-time{
    width: 150px;
}

.save-box, .save-box *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.save-box{
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 7px;
    background-color: #fff;
    border: thin solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

@keyframes blinkAnimation {
    0% { background-color: transparent; }
    50% { background-color: yellow; }
    100% { background-color: transparent; }
}

.bg-warning-blink {
    animation: blinkAnimation 0.25s infinite; /* Ganti 1s dengan durasi animasi yang diinginkan */
}

.bg-sky{
    background-image: linear-gradient(to right, #daf3ff, #ffffff) !important;
}

.accordion {
    width:auto !important;
    height:auto !important;
}