/* 
DayPilot Scheduler Theme
https://themes.daypilot.org/scheduler/theme/sadps6
Theme Designer Version: 2019.08.13.78552
*/
.daypilotdefaulttheme_main {
    border: 1px solid #999999;
}

    .daypilotdefaulttheme_main, .daypilotdefaulttheme_main td {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

.daypilotdefaulttheme_event {
}

.daypilotdefaulttheme_event {
    color: #333333;
}

.daypilotdefaulttheme_event_inner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2);
    padding: 2px;
    border: 1px solid #999999;
    display: flex;
    align-items: center;
}

.daypilotdefaulttheme_timeheadergroup,
.daypilotdefaulttheme_timeheadercol {
    color: #333333;
    background: #ece9d8;
    background: linear-gradient(to bottom, #efecde 0%, #e9e6d2);
}

.daypilotdefaulttheme_rowheader,
.daypilotdefaulttheme_corner {
    color: #333333;
    background: #ece9d8;
    background: linear-gradient(to right, #efecde 0%, #e9e6d2);
}

.daypilotdefaulttheme_rowheader_inner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 2px;
    display: flex;
    align-items: center;
}

.daypilotdefaulttheme_timeheadergroup,
.daypilotdefaulttheme_timeheadercol {
}

.daypilotdefaulttheme_timeheadergroup_inner,
.daypilotdefaulttheme_timeheadercol_inner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid #999999;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.daypilotdefaulttheme_timeheadergroup_inner {
    border-bottom: 1px solid #999999;
}

.daypilotdefaulttheme_divider,
.daypilotdefaulttheme_splitter,
.daypilotdefaulttheme_divider_horizontal,
.daypilotdefaulttheme_resourcedivider {
    background-color: #999999;
}

.daypilotdefaulttheme_matrix_vertical_line,
.daypilotdefaulttheme_matrix_horizontal_line {
    background-color: #ead098;
}

.daypilotdefaulttheme_cell {
    background: #fff4bc;
}

    .daypilotdefaulttheme_cell.daypilotdefaulttheme_cell_business {
        background: #ffffd5;
    }

.daypilotdefaulttheme_message {
    padding: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #ffffff;
    background: #777777;
    background: linear-gradient(to bottom, #838383 0%, #6b6b6b);
}

.daypilotdefaulttheme_shadow_inner {
    background-color: #666666;
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: 100%;
}

.daypilotdefaulttheme_event_bar {
    top: 1px;
    left: 1px;
    right: 1px;
    height: 3px;
    background-color: #ffffff;
    border-bottom: 1px solid #999999;
}

.daypilotdefaulttheme_event_bar_inner {
    position: absolute;
    height: 3px;
    background-color: #2d5de0;
}

.daypilotdefaulttheme_matrix_vertical_break {
    background-color: #000;
}

.daypilotdefaulttheme_cellparent {
}

.daypilotdefaulttheme_tree_image_no_children {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
    margin-top: 6px;
}

.daypilotdefaulttheme_tree_image_expand {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
    margin-top: 6px;
}

.daypilotdefaulttheme_tree_image_collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
    margin-top: 6px;
}

.daypilotdefaulttheme_columnheader {
}

.daypilotdefaulttheme_columnheader_inner {
    font-weight: bold;
}

.daypilotdefaulttheme_columnheader_cell {
    background: linear-gradient(to right, #eeeeee 0%, #dddddd);
}

.daypilotdefaulttheme_columnheader_splitter {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.daypilotdefaulttheme_columnheader_cell_inner {
    padding: 2px;
}

.daypilotdefaulttheme_timeheader_float {
    display: flex;
    align-items: center;
    justify-content: center;
}

.daypilotdefaulttheme_timeheader_float_inner {
    padding: 2px;
}

.daypilotdefaulttheme_event_float {
    display: flex;
    align-items: center;
}

.daypilotdefaulttheme_event_float_inner {
    padding: 6px 2px 2px 7px;
    padding-left: 9px;
    /*top: -2px;*/
    position: relative;
}

    .daypilotdefaulttheme_event_float_inner:after {
        content: "";
        border-color: transparent #333333 transparent transparent;
        border-style: solid;
        border-width: 5px;
        width: 0;
        height: 0;
        position: absolute;
        top: 8px;
        left: -4px;
    }

.daypilotdefaulttheme_event_move_left {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee);
}

.daypilotdefaulttheme_event_move_right {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee);
}

.daypilotdefaulttheme_event_delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
    opacity: 0.6;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    cursor: pointer;
    opacity: 0.6;
}

    .daypilotdefaulttheme_event_delete:hover {
        opacity: 1;
        -ms-filter: none;
    }

.daypilotdefaulttheme_rowmove_handle {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ccc;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC);
    cursor: move;
}

.daypilotdefaulttheme_rowmove_source {
    background-color: black;
    opacity: 0.2;
}

.daypilotdefaulttheme_rowmove_position_before, .daypilotdefaulttheme_rowmove_position_after {
    background-color: #999;
    height: 2px;
}

.daypilotdefaulttheme_rowmove_position_child {
    margin-left: 10px;
    background-color: #999;
    height: 2px;
}

    .daypilotdefaulttheme_rowmove_position_child:before {
        content: '+';
        color: #999;
        position: absolute;
        top: -8px;
        left: -10px;
    }

.daypilotdefaulttheme_rowmove_position_forbidden {
    background-color: red;
    height: 2px;
    margin-left: 10px;
}

    .daypilotdefaulttheme_rowmove_position_forbidden:before {
        content: 'x';
        color: red;
        position: absolute;
        top: -8px;
        left: -10px;
    }

.daypilotdefaulttheme_link_horizontal {
    border-bottom-style: solid;
    border-bottom-color: red;
}

.daypilotdefaulttheme_link_vertical {
    border-right-style: solid;
    border-right-color: red;
}

.daypilotdefaulttheme_link_arrow_right:before {
    content: '';
    border-width: 6px;
    border-color: transparent transparent transparent red;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.daypilotdefaulttheme_link_arrow_left:before {
    content: '';
    border-width: 6px;
    border-color: transparent red transparent transparent;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.daypilotdefaulttheme_link_arrow_down:before {
    content: '';
    border-width: 6px;
    border-color: red transparent transparent transparent;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.daypilotdefaulttheme_link_arrow_up:before {
    content: '';
    border-width: 6px;
    border-color: transparent transparent red transparent;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.daypilotdefaulttheme_shadow_overlap .daypilotdefaulttheme_shadow_inner {
    background-color: red;
}

.daypilotdefaulttheme_overlay {
    background-color: gray;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.daypilotdefaulttheme_event_group {
    box-sizing: border-box;
    font-size: 12px;
    color: #666;
    padding: 2px 2px 2px 2px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

.daypilotdefaulttheme_header_icon {
    box-sizing: border-box;
    border: 1px solid #999999;
    background-color: #ece9d8;
    color: #333333;
}

    .daypilotdefaulttheme_header_icon:hover {
        background-color: #e9e6d2;
    }

.daypilotdefaulttheme_header_icon_hide:before {
    content: '\00AB';
}

.daypilotdefaulttheme_header_icon_show:before {
    content: '\00BB';
}

.daypilotdefaulttheme_rowheader.daypilotdefaulttheme_rowheader_selected {
    background-color: #aaa;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}

.daypilotdefaulttheme_row_new .daypilotdefaulttheme_rowheader_inner {
    cursor: text;
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=);
}

    .daypilotdefaulttheme_row_new .daypilotdefaulttheme_rowheader_inner:hover {
        background: white;
    }

.daypilotdefaulttheme_rowheader textarea {
    padding: 3px;
}

.daypilotdefaulttheme_rowheader_scroll {
    cursor: default;
}

.daypilotdefaulttheme_shadow_forbidden .daypilotdefaulttheme_shadow_inner {
    background-color: red;
}

.daypilotdefaulttheme_event_moving_source {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.daypilotdefaulttheme_linkpoint {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

    .daypilotdefaulttheme_linkpoint.daypilotdefaulttheme_linkpoint_hover {
        background-color: black;
    }

.daypilotdefaulttheme_event.daypilotdefaulttheme_event_version .daypilotdefaulttheme_event_inner {
    background-color: #cfdde8;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}

.daypilotdefaulttheme_crosshair_vertical, .daypilotdefaulttheme_crosshair_horizontal, .daypilotdefaulttheme_crosshair_left, .daypilotdefaulttheme_crosshair_top {
    background-color: gray;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.daypilotdefaulttheme_link_dot {
    border-radius: 10px;
    background-color: red;
}

.daypilotdefaulttheme_task_milestone .daypilotdefaulttheme_event_inner {
    position: absolute;
    top: 16%;
    left: 16%;
    right: 16%;
    bottom: 16%;
    background: #38761d;
    border: 0px none;
    transform: rotate(45deg);
    filter: none;
}

.daypilotdefaulttheme_event_left {
    white-space: nowrap;
    padding-top: 5px;
    color: #666;
    cursor: default;
}

.daypilotdefaulttheme_event_right {
    white-space: nowrap;
    padding-top: 5px;
    color: #666;
    cursor: default;
}

.daypilotdefaulttheme_selectionrectangle {
    background-color: #0000ff;
    border: 1px solid #000033;
    opacity: 0.4;
}

.daypilotdefaulttheme_link_shadow {
    border: 1px solid black;
}

.daypilotdefaulttheme_link_shadow_circle {
    background-color: black;
}

.daypilotdefaulttheme_block {
    background-color: #808080;
    opacity: 0.5;
}
